﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="User.aspx.cs" Inherits="Sol_Session_Login.User" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table>
                <tr>
                    <td>
                        <asp:Label ID="lblFullName" runat="server"></asp:Label>
                       <%-- <asp:Label ID="lblLastName" runat="server"></asp:Label>--%>
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;</td>
                </tr>

               <tr>
                    <td>
                        <asp:Button ID="btnLogout" runat="server" Text="Logout" OnClick="btnLogout_Click" />
                    </td>
                </tr>

            </table>


    </div>
    </form>
</body>
</html>
